<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up Form by Colorlib</title>
</head>
<body>
    <form method="post">
        <div class="container">
        <h1>Register Here</h1>
        <p>Please fill in the details to create an account with us.</p>
        <hr>
        <label for="email"><b>Enter Email</b></label>
        <input type="text" placeholder="Enter Email" name="email">
        <label for="pwd"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password">
        <hr>
        <button type="submit" class="registerbtn"><strong>Register</strong></button>
        </div>
        <div class="container signin">
        <p>Already have an account? <a href="http://localhost:3000/login">Sign in</a>.</p>
        </div>
        </form>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>